<div class="container row-trip">
  <div class="row">

    <h2>Login</h2>

    <div class="w-100"></div>

      <div class="col-sm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password">
      </div>

      <div class="w-100"></div>

      <input type="submit" value="Login" class="btn btn-light" style="margin-top: 1rem" (click)="login()">
      <input type="submit" value="Create Account" class="btn btn-light" style="margin-top: 1rem"  (click)="createAccount()">
      <input type="submit" value="Create Admin Account" class="btn btn-light" style="margin-top: 1rem"  (click)="createAdminAccount()">


  </div>
</div>
