<div class="container row-trip">
  <div class="row">
    <h2 th:text="${trip.title}">Sunny Barcelona in may</h2>
    <div class="col text-right"
         th:text="'Author: ' + ${trip.creatorEmail} + ', Participants: ' + ${#lists.size(trip.participantsEmails)}"
    >Author: Kamil, Participants: 24
    </div>

    <div class="w-100"></div>


    <div th:each="event: ${trip.events}" class="w-100">
      <p class="trip-event-desc-title" th:text="${event.title}">Sleep in Barcelona</p>
      <p class="trip-event-desc-row" th:text="${event.from} + ' - ' + ${event.to}">data - data</p>
      <br>
      <p class="trip-event-desc-row"
         th:text="${event.eventType} + ' - ' + ${event.location.locationDescription}">
        ACCOMADATION - Barcelona</p>
      <br>
      <br>
      <br>

    </div>

    <a type="submit" class="btn btn-light" th:href="'/trip/' + ${trip.uuid}">Edit</a>

  </div>
</div>
