.row-trip {
  display: flex;
  flex: 1;

  margin: 1em 4em;
  border-radius: 5px;
  box-shadow: 0 0 21px 3px rgba(0, 0, 0, 0.15);
  background: #fff;
  font-size: .9em;
  padding: .3em .65em;
  color: #5e5e5e;
  border: 1px solid rgba(137, 137, 137, 0.2);
  background: rgba(137, 137, 137, 0.04);

  margin-top: 5rem;
}

.row-event {
  display: flex;
  flex: 1;

  border-radius: 5px;

  box-shadow: 0 0 21px 3px rgba(0, 0, 0, 0.15);
  font-size: .9em;
  padding: .3em .65em;
  border: 1px solid rgba(137, 137, 137, 0.2);

  margin-left: 1rem;

}
