<div class="container row-trip" *ngIf="(tripResponse$ | async) as trip">

  <div class="d-flex flex-column">

    <h5>Trip:</h5>

    <div class="d-flex flex-row">
      <div class="p-2">
        <label for="uuid">Id:</label>
        <input value="{{trip?.uuid}}" id="uuid" readonly disabled class="form-control"/>
      </div>

      <div class="p-2">
        <label for="creatorEmail">Creator:</label>
        <input value="{{trip?.creatorEmail}}" id="creatorEmail" readonly disabled class="form-control"/>
      </div>
    </div>

    <form method="post" href="/trip">

      <div class="d-flex flex-row">
        <div class="p-2">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" class="form-control" value="{{trip?.title}}" [(ngModel)]="title"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="p-2">
          <label for="from">From:</label>
          <input type="date" id="from" name="from" class="form-control" value="{{trip?.from}}" [(ngModel)]="from"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="p-2">
          <label for="to">To:</label>
          <input type="date" id="to" name="to" class="form-control" value="{{trip?.to}}" [(ngModel)]="to"
                 [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <button type="submit" class="btn btn-light" (click)="save()">Save</button>


    </form>

    <h5>Participants:</h5>
    <div *ngFor="let participantEmail of trip?.participantsEmails">
      <app-trip-participant [participantEmail]="participantEmail" [parentId]="trip.uuid" [participantManagement]="tripService"
                            [isExisingParticipant]="true"></app-trip-participant>
    </div>
    <div *ngIf="trip?.uuid">
      <app-trip-participant [parentId]="trip.uuid" [participantManagement]="tripService"></app-trip-participant>
    </div>

    <h5>Events in trip:</h5>
    <div *ngFor="let event of (tripResponse$ | async)?.events">
      <div class="row-trip-inside">
        <app-event-edit [event]="event"></app-event-edit>
      </div>
    </div>

    <div class="row-trip-inside">
      <app-event-new [creatorEmail]="trip.creatorEmail" [tripId]="trip.uuid"></app-event-new>
    </div>
  </div>


</div>
