<div class="container row-trip">
  <div class="row">

    <div class="d-flex flex-row">
      <div class="p-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
      </div>
      <div class="p-2">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
      </div>

    <h2>{{trip?.title}}</h2>

    <div class="col text-right">
      {{'Author: ' + trip?.creatorEmail + ', Participants: ' + trip?.participantsEmails?.length}}
    </div>

    <div class="w-100"></div>


    <div *ngFor="let event of trip?.events" class="w-100">
      <p class="trip-event-desc-title">{{event.title}}</p>
      <p class="trip-event-desc-row">{{event.from + ' - ' + event.to}}</p>
      <br>
      <p class="trip-event-desc-row">
        {{event.eventType + ' - ' + event.location.locationDescription}}}
      </p>
      <br>
      <br>
      <br>

    </div>

    <button type="submit" class="btn btn-light" (click)="redirectToTripEdit(trip?.uuid)">Edit</button>

  </div>
</div>
