<form [formGroup]="participantForm" class="d-flex flex-row">

  <div class="p-2">
    <label for="email">email:</label>
    <select name="email" id="email" class="form-select" aria-label="Select event type" [(ngModel)]="participantEmail"
            [value]="participantEmail">
      <option *ngFor="let email of getAllParticipants() | async">{{email}}</option>
      <option></option>
    </select>
  </div>

  <div class="p-2">
    <button type="submit" class="btn btn-danger" (click)="remove()">remove</button>
  </div>
  <div class="p-2">
    <button type="submit" class="btn btn-success" (click)="save()">save</button>
  </div>
</form>
