row-trip {
    display: flex;
    flex: 1;

    margin: 1em 4em;
    border-radius: 5px;
    box-shadow: 0 0 21px 3px rgba(0, 0, 0, 0.15);
    background: #fff;
    font-size: .9em;
    padding: .3em .65em;
    color: #5e5e5e;
    border: 1px solid rgba(137, 137, 137, 0.2);
    background: rgba(137, 137, 137, 0.04);

    margin-top: 5rem;
}

.new-trip {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.btn-light {
    background-color: rgba(137, 137, 137, 0.2);
    color: black;
    margin-left: 1rem;
    font-weight: bold;
}

.row {
    height: 100%;
    width: 100%;

}

.trip-event-desc-title {
    display: inline;
    margin-left: 2rem;
    font-weight: bold;
}

.trip-event-desc-row {
    display: inline;
    margin-left: 3rem;
}