<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Trip</title>
</head>
<body>

<tr th:each="trip: ${trips}">
    <td th:text="${trip.title}" />

    <td>

        <br/>
        <form action="/trips/events" method="post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title"><br><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location"><br><br>

            <label for="from">From:</label>
            <input type="date" id="from" name="from"><br><br>
            <label for="to">To:</label>
            <input type="date" id="to" name="to"><br><br>

<!--            https://www.baeldung.com/thymeleaf-enums - TODO-->
            <label for="type">Type:</label>
            <select name="type" id="type">
                <option value="" disabled selected>Choose your option</option>
<!--                Get enum value from java-->
                <option value="ACCOMMODATION">ACCOMMODATION</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <input type="hidden" name="destination" th:value="#{trip.id}" />


            <input type="submit" value="Submit">
        </form>

        <br/>

    </td>



    <td th:text="${trip.creator}" />
    <td th:text="${trip.from}" />
    <td th:text="${trip.to}" />
    <td th:text="${trip.participants}" />
    <td th:text="${trip.tripEvents}" />
</tr>

<form action="/trips" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br><br>

    <label for="from">From:</label>
    <input type="date" id="from" name="from"><br><br>


    <label for="to">From:</label>
    <input type="date" id="to" name="to"><br><br>


    <input type="submit" value="Submit">
</form>

</body>
</html>