<div class="container row-trip">
  <div class="row">


    <div class="d-flex flex-row">

      <div class="p-2">
        <label for="creatorEmail">Creator:</label>
        <input value="{{creatorEmail}}" id="creatorEmail" readonly class="form-control"/>
      </div>

      <div class="p-2">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="form-control" [(ngModel)]="title">
      </div>

    </div>

    <div class="d-flex flex-row">
      <div class="p-2">
        <label for="type">Type:</label>
        <select name="type" id="type" class="form-select" aria-label="Select event type" [(ngModel)]="eventType">
          <option>Accommodation</option>
          <option>Transfer</option>
          <option>Tour</option>
        </select>
      </div>

    </div>

    <form action="/trip">


      <div class="d-flex flex-row">

        <div class="p-2">
          <label for="from">From:</label>
          <input type="date" id="from" name="from" class="form-control" [(ngModel)]="from">
        </div>

        <div class="p-2">
          <label for="to">To:</label>
          <input type="date" id="to" name="to" class="form-control" [(ngModel)]="to">
        </div>

      </div>

      <div class="d-flex flex-row">

        <div class="p-2">
          <label for="locationDescription">Location:</label>
          <input type="text" id="locationDescription" name="locationDescription" class="form-control"
                 [(ngModel)]="locationDescription">
        </div>
      </div>

    </form>

    <div class="p-2">
      <h5>Event properties:</h5>
    </div>

    <app-property-new [isSaveModeActive]="false" (bookTitleCreated)="onPropertyAdded($event)"></app-property-new>
    <app-property-new [isSaveModeActive]="false"></app-property-new>

    <div class="p-2">
      <button (click)="save()" class="btn btn-light">Save</button>
    </div>
  </div>
</div>
