<div class="d-flex flex-row">
  <div class="p-2">
    <label for="uuid">Id:</label>
    <input value="{{event?.uuid}}" id="uuid" readonly class="form-control"/>
  </div>

  <div class="p-2">
    <label for="creatorEmail">Creator:</label>
    <input value="{{event?.creatorEmail}}" id="creatorEmail" readonly class="form-control"/>
  </div>
</div>

<form action="/trip" method="post" target="hiddenFrame">


  <div class="p-2">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" class="form-control" value="{{event?.title}}">
  </div>

  <div class="p-2">

    <div class="d-flex flex-row">
      <div class="p-2">
        <label for="type">Type:</label>
        <select name="type" id="type" class="form-select" aria-label="Select event type" [value]="event?.eventType">
          <option>Accommodation</option>
          <option>Transfer</option>
          <option>Tour</option>
        </select>
      </div>

    </div>

  </div>

  <div class="d-flex flex-row">

    <div class="p-2">
      <label for="from">From:</label>
      <input type="date" id="from" name="from" class="form-control" value="{{event?.from}}">
    </div>

    <div class="p-2">
      <label for="to">To:</label>
      <input type="date" id="to" name="to" class="form-control" value="{{event?.to}}">
    </div>

  </div>

  <div class="p-2">
    <label for="locationDescription">Location:</label>
    <input type="text" id="locationDescription" name="locationDescription" class="form-control"
           value="{{event?.location?.locationDescription}}">
  </div>

</form>

<div class="p-2">
  <h5>Event properties:</h5>
</div>
<!--<div *ngFor="let property of event?.properties?.entries()">-->

<!--  <app-property-edit></app-property-edit>-->

<!--</div>-->

<app-property-new></app-property-new>

<h5>Participants:</h5>
<div *ngFor="let participantEmail of getParticipantEmails()">
  <app-participant [participantEmail]="participantEmail"
                   [parentId]="this.event === undefined ?  '' : this.event.uuid"
                   [participantManagement]="eventService"></app-participant>
</div>

